@charset "UTF-8";
body {
  background: #052947;
  font-size: 1.25rem;
   }
  body h2 {
    text-align: center;
    color: #148df5; }
  body h3 {
    text-align: center;
    color: #148df5; }
  body p {
    color: #fff;
    font-size: 1.2rem;
    text-align: justify center;
    margin-left: auto;
    margin-right: auto; }
  body .fotoIndex {
    border-radius: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin-top: 20px; }

.titulo {
  padding-top: 85px;
  text-align: center;
  font-size: 3.3rem;
  text-align: center;
  text-decoration: inherit;
  color: #6ca4d5; }

/***********Menu*************/
.header{
  background-color: #133b5c;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  top: 0;
  left: 0;
  border-bottom: 2px solid black;
  width: 100%;
  text-decoration: none;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #133b5c;
}

.header ul a{
  display: block;
  padding: 10px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  text-decoration: none;
  color: #00b7c2;
}

.header ul a:hover{
  background-color: #464f75;
}

.header .logo{
  float: left;
  display: block;
  color: #00b7c2;
  font-size: 1.8em;
  padding: 10px 20px;
  text-decoration: none;
}

.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon{
  float: right;
  padding: 30px 20px;
  position: relative;
  cursor: pointer;
}

.header .menu-icon .nav-icon{
  background: black;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
  background: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2 ease-out;
  top: 5px;
}

.header .menu-icon .nav-icon:after{
  background: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2 ease-out;
  top: -5px;
}

.header .menu-btn{
  display: none;
}

.header .menu-btn:checked ~ .menu{
  max-height: 270px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top: 0;
}

/***************INDEX*******************************/

.informacion{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-rows: 150px 280px 300px;
  grid-row-gap: 50px;
  margin-bottom: 75px;
}

.informacion__item{
  text-align: center;
  padding: 10px;
}


.videoIndex {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.pie {
  background: #133b5c;
  padding-top: 30px;
  height: 80px;
  border-top: 3px solid black;
  text-align: center;
  text-decoration: none;
}

/**************BIOGRAFIA****************/
.fotoBio {
  display: none;
  width: 600px;
  height: 400px;
  float: right; }

.porSuiGieco {
  padding-bottom: 70px; }

/*********** Discografía *********************/

.discografia {
  padding: 60px 20px;
  background: #0e2b44;
  color: #fff;
  font-size: 20px;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  padding-bottom: 50px;
}

.solista {
  display: grid;
  grid-column: span 2;
}

.discografias__titulo {
  font-size: 1.4rem;
  margin-bottom: 55px;
  text-decoration: underline;
  color: #148df5;

}

.accordeon input {
  display: none;
}

.accordeon__titulo {
  display: block;
  width: 80vw;
  padding: 15px;
  margin-left: -10px;
  background: #033a69;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.accordeon__content {
  height: 0;
  overflow: hidden;
  background: #052947;
  margin: 0;
}

.accordeon__content ol {
  padding: 10px 0 10px 45px;
  text-decoration: none;
}

.accordeon input:checked~.accordeon__content {
  height: auto;
  margin: 15px 0;
  transition: all .5s ease-out;
}

.discografia__suigeneris__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.discografia__porsuigieco__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.discografia__lamaquinadehacerpajaros__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.discografia__serugiran__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.discografia__solista__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.discografia__aznar__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.discografia__mercedes__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.discografia__pettinato__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}


/*********** NOVEDADES *************/
.novedades{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.novedades__noticia__titulo{
  font-size: 1.3rem;
  text-decoration: underline;
  text-align: center;
  color: #148df5;
}

.novedades__noticia1{
  width: 300px;
  height: auto;
  padding: 10px;
  border: 3px solid black;
  font-size: 1.15rem;
  margin: 30px 0;
}

.novedades__noticia2{
  width: 300px;
  height: auto;
  padding: 10px;
  border: 3px solid black;
  font-size: 1.15rem;
  margin: 30px 0;
}

.novedades__noticia3{
  width: 300px;
  height: auto;
  padding: 10px;
  border: 3px solid black;
  font-size: 1.15rem;
  margin: 30px 0;
}

.novedades__noticia4{
  width: 300px;
  height: auto;
  padding: 10px;
  border: 3px solid black;
  font-size: 1.15rem;
  margin: 30px 0;
}


/***** CONTACTO******/

  input[type=text], select, textarea {
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=email]{
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  input[type=checkbox]{
    padding: 12px;
    margin-top: 15px;

    border: 1px solid #ccc;
    resize: vertical;
  }

  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: #fff;
  }

  input[type=submit] {
    background-color: #287a9d;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }

  input[type=submit]:hover {
    background-color: #3ecbcb;
  }

  .forma__contacto {
    margin: 0 auto;
    width: 80vw;
    border-radius: 5px;
    background-color: #223965;
    padding: 20px 40px;
    margin-top: 50px;
    margin-bottom: 150px;
  }

  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }

  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .forma__titulo{
    margin-left: 10%;
    font-size: 1.3rem;
    color: rgb(100, 176, 219);
  }


/**************** Bio*****************************/

.bio__titulo{
  margin: 30px 0;
}
.bio__subtitulo{
  text-align: center;
  color: rgb(49, 161, 218);
  font-size: 1.2rem;
}

.introBio {
  margin: 0 10%;
  margin-top: 50px;
  margin-bottom: 70px;
}

.infancia {
  margin: 0 10%;
  margin-top: 50px;
  margin-bottom: 70px;
}

.bioSuiGeneris {
  margin: 0 10%;
  margin-top: 50px;
  margin-bottom: 70px;
}

.bioPorSuiGieco {
  margin: 0 10%;
  margin-top: 50px;
  margin-bottom: 70px;
}

.bioMaquina{
  margin: 0 10%;
  margin-top: 50px;
  margin-bottom: 70px;
}

.bioSeru{
  margin: 0 10%;
  margin-top: 50px;
  margin-bottom: 70px;
}

.bioSolista{
  margin: 0 10%;
  margin-top: 50px;
  margin-bottom: 70px;
}

.infancia__foto img{
  width: 250px;
  height: 135px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bioSuiGeneris__foto img{
  width: 250px;
  height: 140px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bioPorSuiGieco__foto img{
  width: 250px;
  height: 140px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bioMaquina__foto img{
  width: 250px;
  height: 140px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bioSeru__foto img{
  width: 250px;
  height: 120px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bioSolista__foto img{
  width: 250px;
  height: 120px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block
}

/*****************Galeria*************************/

  .galeria{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    margin-left: 0 auto;

  }

  .galeria__titulo{
    font-size: 1.2rem;
    color: rgb(109, 208, 240);
    text-decoration: underline;
    text-align: center;
  }

  .galeria__fila1{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .galeria__fila2{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  .galeria__fila2{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }

  /******************fila1*********************/
  .galeria__fila1__imagen1 img{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }

  .galeria__fila1__imagen2 img{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }

  .galeria__fila1__imagen3 img{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }

  .galeria__fila1__imagen4 img{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }

  .galeria__fila1__imagen5 img{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }
  /******************fila2*********************/
  .galeria__fila2__imagen1 img{
    width: 300px;
    height: 140px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }

  .galeria__fila2__imagen2 img{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }

  .galeria__fila2__imagen3 img{
    width: 300px;
    height: 130px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }

  .galeria__fila2__imagen4 img{
    width: 300px;
    height: 160px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }

  .galeria__fila2__imagen5 img{
    width: 300px;
    height: 160px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }
  /******************fila3*********************/
  .galeria__fila3__imagen1 img{
      width: 300px;
      height: 150px;
      border: 2px solid black;
      margin-bottom: 10px;
      z-index: 1;
    }

  .galeria__fila3__imagen2 img{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }

  .galeria__fila3__imagen3 img{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }

  .galeria__fila3__imagen4 img{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }

  .galeria__fila3__imagen5 img{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }

  .galeria__fila3__imagen6 img{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }

  .galeria__fila3__imagen7 img{
    width: 300px;
    height: 150px;
    border: 2px solid black;
    margin-bottom: 10px;
    z-index: 1;
  }

/**********Medias************/

@media only screen and (min-width: 768px){

/****************bio**********************/
.infancia__foto img{
  width: 370px;
  height: 200px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bioSuiGeneris__foto img{
  width: 370px;
  height: 200px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bioPorSuiGieco__foto img{
  width: 370px;
  height: 200px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bioMaquina__foto img{
  width: 370px;
  height: 200px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bioSeru__foto img{
  width: 370px;
  height: 190px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.bioSolista__foto img{
  width: 370px;
  height: 200px;
  border: 2px solid black;
  margin-left: auto;
  margin-right: auto;
  display: block
}

/******************fila1*********************/
  .galeria__fila1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .galeria__fila1 div{
    margin: 10px;
  }
/******************fila2*********************/
  .galeria__fila2{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .galeria__fila2 div{
    margin: 10px;
  }
/******************fila3*********************/
  .galeria__fila3{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .galeria__fila3 div{
    margin: 10px;
  }
/*************novedades***********************/
  .novedades{
  justify-content: space-around;
  }
}

@media only screen and (min-width: 769px) {
  .titulo{
    padding-top: 150px;
  }
  .header li{
  float: left;
  }
  .header li a{
  padding: 22px 30px;
  }
  .header .menu{
    clear:none;
    float: right;
    max-height: none;
  }
  .header .menu-icon{
    display: none;
  }
  .header ul a{
    border-bottom: 0px;
    border-right: 1px solid black;
  }

  .responsive-iframe{
    width: 50%;
    height: 50%;
    margin: auto;
  }


}

@media only screen and (min-width: 1024px) {
    body .fotoIndex {
    border-radius: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
    margin-top: 50px; }

/****************bio**********************/
    .infancia__foto img{
      width: 500px;
      height: 270px;
      border: 2px solid black;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .bioSuiGeneris__foto img{
      width: 500px;
      height: 270px;
      border: 2px solid black;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .bioPorSuiGieco__foto img{
      width: 500px;
      height: 270px;
      border: 2px solid black;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .bioMaquina__foto img{
      width: 500px;
      height: 270px;
      border: 2px solid black;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .bioSeru__foto img{
      width: 500px;
      height: 270px;
      border: 2px solid black;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }

    .bioSolista__foto img{
      width: 500px;
      height: 250px;
      border: 2px solid black;
      margin-left: auto;
      margin-right: auto;
      display: block
    }
/*********** novedades**************************/
    .novedades{
      display: flex;
      flex-direction: column;
      align-content: center;
    }
    .novedades__noticia1{
      width: 70vw;
      text-align: center;
    }

    .novedades__noticia2{
      width: 70vw;
      text-align: center;
    }

    .novedades__noticia3{
      width: 70vw;
      text-align: center;
    }

    .novedades__noticia4{
      width: 70vw;
      text-align: center;
    }

    .informacion{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 150px;
      margin-top: 100px;
    }

/******************galeria***********************/
.galeria{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}
.galeria__titulo{
  font-size: 1.6rem;
}
/*****************fila1******************/
.galeria__fila1{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 10px 30px 10px;
}

.galeria__fila1__imagen1 img{
  width: 400px;
  height: 320px;
  transition-property: transform;
  transition-duration: 400ms;
  margin: 10px;
}

.galeria__fila1__imagen1 img:hover{
  transform: scale(1.1, 1.1);
  z-index: 2;
}
.galeria__fila1__imagen2 img{
  width: 450px;
  height: 260px;
  transition-property: transform;
  transition-duration: 400ms;
  margin: 10px;
}
.galeria__fila1__imagen2 img:hover{
  transform: scale(1.1, 1.1);
  z-index: 2;
}

.galeria__fila1__imagen3 img{
  width: 450px;
  height: 250px;
  transition-property: transform;
  transition-duration: 400ms;
  margin-top: 10px;
}

.galeria__fila1__imagen3 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}

.galeria__fila1__imagen4 img{
  width: 450px;
  height: 250px;
  transition-property: transform;
  transition-duration: 400ms;
  margin-top: 10px;
}

.galeria__fila1__imagen4 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}

.galeria__fila1__imagen5 img{
  width: 500px;
  height: 250px;
  transition-property: transform;
  transition-duration: 400ms;
  margin-top: 10px;
}

.galeria__fila1__imagen5 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}
/************fila2**********/

.galeria__fila2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 10px 30px 10px;
}

.galeria__fila2__imagen1 img{
  width: 450px;
  height: 260px;
  transition-property: transform;
  transition-duration: 400ms;
  margin: 10px;
}

.galeria__fila2__imagen1 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}

.galeria__fila2__imagen2 img{
  width: 450px;
  height: 260px;
  transition-property: transform;
  transition-duration: 400ms;
  margin: 10px;
}

.galeria__fila2__imagen2 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}

.galeria__fila2__imagen3 img{
  width: 450px;
  height: 200px;
  transition-property: transform;
  transition-duration: 400ms;
  margin: 10px;
}

.galeria__fila2__imagen3 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}

.galeria__fila2__imagen4 img{
  width: 450px;
  height: 260px;
  transition-property: transform;
  transition-duration: 400ms;
  margin: 10px;
}

.galeria__fila2__imagen4 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}

.galeria__fila2__imagen5 img{
  width: 500px;
  height: 260px;
  transition-property: transform;
  transition-duration: 400ms;
  margin: 10px;
}

.galeria__fila2__imagen5 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}


/*******************fila3**************************/
.galeria__fila3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
}

.galeria__fila3__imagen1 img{
  width: 450px;
  height: 260px;
  transition-property: transform;
  transition-duration: 400ms;
  margin: 10px;
}

.galeria__fila3__imagen1 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}

.galeria__fila3__imagen2 img{
  width: 450px;
  height: 230px;
  transition-property: transform;
  transition-duration: 400ms;
  margin: 10px;
}

.galeria__fila3__imagen2 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}

.galeria__fila3__imagen3 img{
  width: 450px;
  height: 230px;
  transition-property: transform;
  transition-duration: 400ms;
  margin: 10px;
}

.galeria__fila3__imagen3 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}

.galeria__fila3__imagen4 img{
  width: 450px;
  height: 230px;
  transition-property: transform;
  transition-duration: 400ms;
  margin: 10px;
}

.galeria__fila3__imagen4 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}

.galeria__fila3__imagen5 img{
  width: 450px;
  height: 230px;
  transition-property: transform;
  transition-duration: 400ms;
  margin: 10px;
}

.galeria__fila3__imagen5 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}

.galeria__fila3__imagen6 img{
  width: 450px;
  height: 260px;
  transition-property: transform;
  transition-duration: 400ms;
  margin: 10px;
}

.galeria__fila3__imagen6 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}

.galeria__fila3__imagen7 img{
  width: 450px;
  height: 260px;
  transition-property: transform;
  transition-duration: 400ms;
  margin: 10px;
}

.galeria__fila3__imagen7 img:hover{
  transform: scale(1.1,1.1);
  z-index: 2;
}

    /**********Discografía*************/

    .discografia {
      margin: auto;
      padding: 15px;
      background: #0e2b44;
      color: #fff;
      font-size: 1.2rem;
      border-bottom: 1px solid black;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows:;
      grid-column-gap: 10px;
      padding-bottom: 500px;
    }


    .accordeon__item__filler {
      grid-column: span 2;
      border-top: 1px solid black;
    }

    .solista {
      display: grid;
      grid-column: span 2;
    }

    .discografias__titulo {
      font-size: 1.4rem;
      text-decoration: underline;
      grid-column: span 2;
      color: #148df5;

    }

    .accordeon input {
      display: none;
    }

    .accordeon__titulo {
      display: block;
      width: auto;
      padding: 15px;
      background: #033a69;
      cursor: pointer;
      color: #fff;
      font-size: 20px;
      border-bottom: 3px solid black;
      border-right: 3px solid black;
    }

    .accordeon__titulo:hover {
      background: #3c2b6c;
      transition: all .5s;
      text-decoration: underline;
    }

    .accordeon__content {
      height: 0;
      overflow: hidden;
      background: #052947;
      margin: 0;
    }

    .accordeon__content ol {
      padding: 10px 0 10px 45px;
      text-decoration: none;
    }

    .accordeon input:checked~.accordeon__content {
      height: auto;
      margin: 15px 0;
      transition: all .5s ease-out;
    }

    .discografia__suigeneris__discos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px;
      grid-gap: 20px;
      padding-bottom: 50px;
    }

    .discografia__porsuigieco__discos{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 80px;
      grid-gap: 20px;
      padding-bottom: 50px;
    }

    .discografia__lamaquinadehacerpajaros__discos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px;
      grid-gap: 20px;
      padding-bottom: 50px;
    }

    .discografia__serugiran__discos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px;
      grid-gap: 20px;
      padding-bottom: 50px;
    }

    .discografia__solista__discos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px;
      grid-gap: 20px;
      padding-bottom: 50px;
    }

    .discografia__aznar__discos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px;
      grid-gap: 20px;
      padding-bottom: 50px;
    }

    .discografia__mercedes__discos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px;
      grid-gap: 20px;
      padding-bottom: 50px;
    }

    .discografia__pettinato__discos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px;
      grid-gap: 20px;
      margin-bottom: -350px;
    }
  }

  @media only screen and (max-width: 1024px) {
    .forma__contacto{
      font-size: 1rem;
      margin: center;
      width: 70vw;
    }
    .col-25, .col-75, input[type=submit] {
      width: 95%;
      margin-top: 0;
      padding: 10px 0;
  }
  input[type=file]{
    width: 80%;
  }
