@charset "UTF-8";
body {
  background: #052947; }
  body h2 {
    text-align: center;
    color: #148df5; }
  body h3 {
    text-align: center;
    color: #148df5; }
  body p {
    color: #fff;
    font-size: 1rem;
    text-align: justify center;
    margin-left: auto;
    margin-right: auto; }
  body .portada {
    margin-top: 25px; }
  body .fotoIndex {
    border-radius: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    margin-top: 20px; }

.titulo {
  padding-top: 85px;
  text-align: center;
  font-size: 3.3rem;
  text-align: center;
  text-decoration: inherit;
  color: #6ca4d5; }

/***********Menu*************/
.header{
  background-color: #133b5c;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  border-bottom: 2px solid black;
  width: 100%;
  text-decoration: none;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #133b5c;
}

.header ul a{
  display: block;
  padding: 10px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  text-decoration: none;
  color: #00b7c2;
}

.header ul a:hover{
  background-color: #464f75;
}

.header .logo{
  float: left;
  display: block;
  color: #00b7c2;
  font-size: 2em;
  padding: 10px 20px;
}

.header .menu{
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

.header .menu-icon{
  float: right;
  padding: 30px 20px;
  position: relative;
  cursor: pointer;
}

.header .menu-icon .nav-icon{
  background: black;
  display: block;
  height: 2px;
  width: 18px;
  position: relative;
  transition: background .2s ease-out;
}

.header .menu-icon .nav-icon:before{
  background: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2 ease-out;
  top: 5px;
}

.header .menu-icon .nav-icon:after{
  background: black;
  content: "";
  display: block;
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all .2 ease-out;
  top: -5px;
}

.header .menu-btn{
  display: none;
}

.header .menu-btn:checked ~ .menu{
  max-height: 270px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before{
  transform: rotate(-45deg);
  top: 0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after{
  transform: rotate(45deg);
  top: 0;
}

/***************INDEX*******************************/

.informacion{
  width: 90%;
  margin: 0 auto;
  margin-top: 50px;
  display: grid;
  grid-template-rows: 150px 280px 300px;
}

.informacion_item{
  text-align: center;
  padding: 10px;
}


.videoIndex {
  position: relative;
  width: 100%;
  overflow: hidden;
  padding-top: 56.25%; /* 16:9 Aspect Ratio */
}
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border: none;
}

.pie {
  background: #133b5c;
  padding-top: 30px;
  height: 80px;
  border-top: 3px solid black;
  text-align: center;
  text-decoration: none;
}

/**************BIOGRAFIA****************/
.fotoBio {
  display: none;
  width: 600px;
  height: 400px;
  float: right; }

.porSuiGieco {
  padding-bottom: 70px; }

/*********** Discografía *********************/

.discografia {
  padding: 60px 15px;
  background: #0e2b44;
  color: #fff;
  font-size: 15px;
  border-bottom: 1px solid black;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  padding-bottom: 50px;
}

.solista {
  display: grid;
  grid-column: span 2;
}

.discografias__titulo {
  font-size: 1.4rem;
  margin-bottom: 55px;
  text-decoration: underline;
  color: #148df5;

}

.accordeon input {
  display: none;
}

.accordeon__titulo {
  display: block;
  width: 80vw;
  padding: 15px;
  margin-left: 0.2%;
  background: #033a69;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.accordeon__content {
  height: 0;
  overflow: hidden;
  background: #052947;
  margin: 0;
}

.accordeon__content ol {
  padding: 10px 0 10px 45px;
  text-decoration: none;
}

.accordeon input:checked~.accordeon__content {
  height: auto;
  margin: 15px 0;
  transition: all .5s ease-out;
}

.discografia__suigeneris__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.discografia__porsuigieco__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.discografia__lamaquinadehacerpajaros__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.discografia__serugiran__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.discografia__solista__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.discografia__aznar__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.discografia__mercedes__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.discografia__pettinato__discos{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}


/*********** NOVEDADES *************/
.novedades {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center; }
  .novedades .novedades--noticia {
    margin-bottom: 40px;
    width: 450px;
    height: 400px;
    border: 2px solid black;
    padding: 5px 15px 15px; }
    .novedades .novedades--noticia .novedades__noticia--titulo {
      text-align: center;
      font-size: 1.2rem;
      color: #b080ffc9; }

/***** CONTACTO******/

.formulario {
  border: 2px solid black;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 30px;
  color: #fff;
}

.formulario__mail {
  margin-top: 10px;
  margin-right: 10px;
  margin-left: 10px; }

.formulario__mail__input {
  margin-left: 15px; }

.formulario__nombre__label {
  margin-right: 10px;
  margin-left: 25px;
  width: 100px; }

.formulario__nombre__input {
  width: 300px;
  margin-left: 25px; }

.formulario__legend__sexo {
  margin-left: 25px; }

.formulario__radios {
  margin-left: 125px; }

.formulario__comentarios__label {
  margin-left: 25px; }

.formulario__comentarios__textarea {
  width: 75%;
  margin-left: 25px;
  margin-right: auto; }

.formulario_newsletercheck {
  margin-left: 12px; }

.formulario__button__enviar {
  margin-left: 25px; }

/**************** Bio*****************************/
.introBio {
  margin: 3% 10%; }

.infancia {
  margin: 3% 10%; }

.bioSuiGeneris {
  margin: 3% 10%; }

.bioPorSuiGieco {
  margin: 3% 10%; }

.bioMaquina{
  margin: 3% 10%;
}

.bioSeru{
  margin: 3% 10%;
}
/*****************Galeria*************************/
.galeria__carousel {
  display: grid;
  margin: 2% auto 20px;
  width: 80vw;
  height: 460px;
  z-index: -1; }

.galeria__fila1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: -120px;
  margin-bottom: 10px; }

.galeria__fila2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10px;
  margin-left: -120px; }

.galeria__fila3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-left: -120px;
  margin-bottom: 10px; }

.galeria__fila4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: -120px;
  margin-bottom: 10px; }
  .galeria__fila4 .galeria__fila4__imagen1 {
    border: 3px solid black;
    position: relative;
    transition: all 0.5s;
    z-index: 1; }
  .galeria__fila4 .galeria__fila4__imagen2 {
    border: 3px solid black;
    position: relative;
    transition: all 0.5s;
    z-index: 1; }

.galeria__fila4__imagen1:hover {
  transform: scale(1.1, 1.1);
  z-index: 2; }

.galeria__fila4__imagen2:hover {
  transform: scale(1.1, 1.1);
  z-index: 2; }

.galeria__fila5 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: -120px;
  margin-bottom: 10px; }
  .galeria__fila5 .galeria__fila5__imagen1 {
    border: 3px solid black;
    position: relative;
    transition: all 0.5s;
    z-index: 1; }
  .galeria__fila5 .galeria__fila5__imagen2 {
    border: 3px solid black;
    position: relative;
    transition: all 0.5s;
    z-index: 1; }

.galeria__fila5__imagen1:hover {
  transform: scale(1.1, 1.1);
  z-index: 2; }

.galeria__fila5__imagen2:hover {
  transform: scale(1.1, 1.1);
  z-index: 2; }

.galeria__fila1__imagen1 {
  border: 3px solid black;
  position: relative;
  transition: all 0.5s;
  z-index: 1; }

.galeria__fila1__imagen1:hover {
  transform: scale(1.1, 1.1);
  z-index: 2; }

.galeria__fila1__imagen2 {
  border: 3px solid black;
  position: relative;
  transition: all 0.5s;
  z-index: 1; }

.galeria__fila1__imagen2:hover {
  transform: scale(1.1, 1.1);
  z-index: 2; }

.galeria__fila2__imagen1 {
  border: 3px solid black;
  position: relative;
  transition: all 0.5s;
  z-index: 1; }

.galeria__fila2__imagen1:hover {
  transform: scale(1.1, 1.1);
  z-index: 2; }

.galeria__fila2__imagen2 {
  border: 3px solid black;
  position: relative;
  margin-left: -10px;
  transition: all 0.5s;
  z-index: 1; }

.galeria__fila2__imagen2:hover {
  transform: scale(1.1, 1.1);
  margin-left: -55px;
  z-index: 2; }

.galeria__fila3__imagen1 {
  border: 3px solid black;
  position: relative;
  transition: all 0.5s;
  z-index: 1; }

.galeria__fila3__imagen1:hover {
  transform: scale(1.1, 1.1);
  z-index: 2; }

.galeria__fila3__imagen2 {
  margin-top: 10px;
  margin-left: -15px;
  border: 3px solid black;
  position: relative;
  transition: all 0.5s;
  z-index: 1; }

.galeria__fila3__imagen2:hover {
  transform: scale(1.1, 1.1);
  z-index: 2; }

.galeria__fila3__imagen3 {
  width: 600px;
  height: 400px;
  border: 3px solid black;
  position: relative;
  transition: all 0.5s;
  z-index: 1;
  margin-top: 80px;
  margin-left: -30px; }

.galeria__fila3__imagen3:hover {
  transform: scale(1.1, 1.1);
  margin-left: -55px;
  z-index: 2; }

/**********Medias************/
@media only screen and (min-width: 769px) {
  .titulo{
    padding-top: 150px;
  }
  .header li{
  float: left;
  }
  .header li a{
  padding: 22px 30px;
  }
  .header .menu{
    clear:none;
    float: right;
    max-height: none;
  }
  .header .menu-icon{
    display: none;
  }
  .header ul a{
    border-bottom: 0px;
    border-right: 1px solid black;
  }

  .responsive-iframe{
    width: 50%;
    height: 50%;
    margin: auto;
  }
}
@media only screen and (max-width: 768px) {
}

@media only screen and (min-width: 1024px) {
    body .fotoIndex {
    border-radius: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
    margin-top: 50px; }

    .informacion{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 150px;
      margin-top: 100px;
    }

  .formulario {
    border: 2px solid black;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 30px; }
  .formulario__mail {
    margin-top: 10px;
    margin-right: 10px;
    margin-left: 10px;
    width: 600px; }
  .formulario__mail__input {
    margin-left: 30px; }
  .formulario__nombre {
    display: flex;
    flex-direction: row; }
  .formulario__nombre__label {
    margin-right: 10px;
    margin-left: 25px;
    width: 100px; }
  .formulario__nombre__input {
    width: 470px;
    margin-left: -30px; }
  .radioSexo {
    margin-left: 25px; }
  .formulario__radios {
    margin-left: 125px; }
  .formulario__comentarios__label {
    margin-left: 25px; }
  .formulario__comentarios__textarea {
    width: 75%;
    margin-left: 100px;
    margin-right: auto; }
  .formulario__newsletercheck {
    margin-left: 12px; }
  .formulario__button__enviar {
    margin-left: 25px; }
  .galeria__carousel {
    display: grid;
    margin: 2% auto 30px 25%;
    width: 80vw;
    height: 460px;
    z-index: -1; }
  .galeria__fila1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -40px;
    margin-bottom: 10px; }
  .galeria__fila2 {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 10px;
    margin-left: -120px; }
  .galeria__fila3 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: -40px;
    margin-bottom: 10px; }
  .galeria__fila1__imagen1 {
    border: 3px solid black;
    position: relative;
    transition: all 0.5s;
    z-index: 1; }
  .galeria__fila1__imagen1:hover {
    transform: scale(1.1, 1.1);
    margin-right: -20px;
    z-index: 2; }
  .galeria__fila1__imagen2 {
    border: 3px solid black;
    margin-left: 30px;
    transition: all 0.5s;
    position: absolute;
    z-index: 1; }
  .galeria__fila1__imagen2:hover {
    transform: scale(1.1, 1.1);
    margin-left: 10px;
    z-index: 2; }
  .galeria__fila2__imagen1 {
    border: 3px solid black;
    position: relative;
    margin-left: 200px;
    transition: all 0.5s;
    z-index: 1; }
  .galeria__fila2__imagen1:hover {
    transform: scale(1.1, 1.1);
    z-index: 2; }
  .galeria__fila2__imagen2 {
    border: 3px solid black;
    margin-left: 600px;
    margin-top: 10px;
    position: relative;
    transition: all 0.5s;
    z-index: 1; }
  .galeria__fila2__imagen2:hover {
    transform: scale(1.1, 1.1);
    margin-left: 580px;
    z-index: 2; }
  .galeria__fila3__imagen1 {
    border: 3px solid black;
    position: relative;
    transition: all 0.5s;
    z-index: 1; }
  .galeria__fila3__imagen1:hover {
    transform: scale(1.1, 1.1);
    margin-left: 15px;
    z-index: 2; }
  .galeria__fila3__imagen2 {
    margin-top: 10px;
    border: 3px solid black;
    position: relative;
    transition: all 0.5s;
    z-index: 1; }
  .galeria__fila3__imagen2:hover {
    transform: scale(1.1, 1.1);
    margin-left: 10px;
    z-index: 2; }
  .galeria__fila3__imagen3 {
    width: 600px;
    height: 400px;
    margin-left: -3px;
    border: 3px solid black;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
    margin-top: 80px; }
  .galeria__fila3__imagen3:hover {
    transform: scale(1.1, 1.1);
    z-index: 2; }

    /**********Discografía*************/

    /**********Discografía*************/

    .discografia {
      margin: auto;
      padding: 15px;
      background: #0e2b44;
      color: #fff;
      font-size: 15px;
      border-bottom: 1px solid black;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows:;
      grid-column-gap: 10px;
      padding-bottom: 500px;
    }


    .accordeon__item__filler {
      grid-column: span 2;
      border-top: 1px solid black;
    }

    .solista {
      display: grid;
      grid-column: span 2;
    }

    .discografias__titulo {
      font-size: 1.4rem;
      text-decoration: underline;
      grid-column: span 2;
      color: #148df5;

    }

    .accordeon input {
      display: none;
    }

    .accordeon__titulo {
      display: block;
      width: auto;
      padding: 15px;
      background: #033a69;
      cursor: pointer;
      color: #fff;
      font-size: 20px;
      border-bottom: 3px solid black;
      border-right: 3px solid black;
    }

    .accordeon__titulo:hover {
      background: #3c2b6c;
      transition: all .5s;
      text-decoration: underline;
    }

    .accordeon__content {
      height: 0;
      overflow: hidden;
      background: #052947;
      margin: 0;
    }

    .accordeon__content ol {
      padding: 10px 0 10px 45px;
      text-decoration: none;
    }

    .accordeon input:checked~.accordeon__content {
      height: auto;
      margin: 15px 0;
      transition: all .5s ease-out;
    }

    .discografia__suigeneris__discos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px;
      grid-gap: 5px;
      padding-bottom: 50px;
    }

    .discografia__porsuigieco__discos{
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 80px;
      grid-gap: 5px;
      padding-bottom: 50px;
    }

    .discografia__lamaquinadehacerpajaros__discos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px;
      grid-gap: 5px;
      padding-bottom: 50px;
    }

    .discografia__serugiran__discos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px;
      grid-gap: 5px;
      padding-bottom: 50px;
    }

    .discografia__solista__discos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px;
      grid-gap: 5px;
      padding-bottom: 50px;
    }

    .discografia__aznar__discos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px;
      grid-gap: 5px;
      padding-bottom: 50px;
    }

    .discografia__mercedes__discos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px;
      grid-gap: 5px;
      padding-bottom: 50px;
    }

    .discografia__pettinato__discos{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 80px;
      grid-gap: 5px;
      margin-bottom: -350px;
    }
  }

@media only screen and (min-width: 1440px) {
  .formulario__comentarios__textarea {
    width: 600px; }
  .galeria__carousel {
    display: grid;
    margin: 2% auto 20px;
    width: 70vw;
    height: 460px;
    z-index: -1; }
  .galeria__fila1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: -120px;
    margin-bottom: 10px; }
  .galeria__fila2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 10px;
    margin-left: -320px; }
  .galeria__fila3 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: -120px;
    margin-bottom: 10px; }
  .galeria__fila1__imagen1 {
    border: 3px solid black;
    position: relative;
    transition: all 0.5s;
    z-index: 1; }
  .galeria__fila1__imagen1:hover {
    transform: scale(1.1, 1.1);
    z-index: 2; }
  .galeria__fila1__imagen2 {
    border: 3px solid black;
    position: relative;
    transition: all 0.5s;
    z-index: 1; }
  .galeria__fila1__imagen2:hover {
    transform: scale(1.1, 1.1);
    z-index: 2; }
  .galeria__fila2__imagen1 {
    border: 3px solid black;
    position: relative;
    transition: all 0.5s;
    z-index: 1; }
  .galeria__fila2__imagen1:hover {
    transform: scale(1.1, 1.1);
    z-index: 2; }
  .galeria__fila2__imagen2 {
    border: 3px solid black;
    margin-left: -5px;
    position: relative;
    transition: all 0.5s;
    z-index: 1; }
  .galeria__fila2__imagen2:hover {
    transform: scale(1.1, 1.1);
    margin-left: -10px;
    z-index: 2; }
  .galeria__fila3__imagen1 {
    border: 3px solid black;
    position: relative;
    transition: all 0.5s;
    z-index: 1; }
  .galeria__fila3__imagen1:hover {
    transform: scale(1.1, 1.1);
    z-index: 2; }
  .galeria__fila3__imagen2 {
    margin-top: 10px;
    margin-left: -15px;
    border: 3px solid black;
    position: relative;
    transition: all 0.5s;
    z-index: 1; }
  .galeria__fila3__imagen2:hover {
    transform: scale(1.1, 1.1);
    z-index: 2; }
  .galeria__fila3__imagen3 {
    width: 600px;
    height: 400px;
    border: 3px solid black;
    position: relative;
    transition: all 0.5s;
    z-index: 1;
    margin-top: 80px;
    margin-left: -10px; }
  .galeria__fila3__imagen3:hover {
    transform: scale(1.1, 1.1);
    margin-left: -15px;
    z-index: 2; }
  .galeria__fila5__imagen1:hover {
    transform: scale(1.1, 1.1);
    z-index: 2; }
  .galeria__fila5__imagen2:hover {
    transform: scale(1.1, 1.1);
    z-index: 2; } }

@media only screen and (max-width: 550px) {
      .formulario__nombre__input {
        width: 235px;
        margin-left: 40px; }
       }

@media only screen and (max-width: 610px) {
      .seruDisco {
        height: 750px; } }
